# === Ultra在Max包的基础上安装Ultra包 === 								
CONFIG_PACKAGE_adguardhome=y                # AdGuard Home广告拦截服务								
CONFIG_PACKAGE_luci-app-adguardhome=y       # AdGuard Home LuCI管理界面								
CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=n # 不包含AdGuard Home二进制文件(需手动安装)								
CONFIG_PACKAGE_ddns-go=y                   # ddns-go动态DNS客户端								
CONFIG_PACKAGE_luci-app-ddns-go=y           # ddns-go LuCI管理界面								
CONFIG_PACKAGE_luci-app-homeproxy=y        # HomeProxy代理管理工具								
CONFIG_PACKAGE_luci-app-frpc=y             # FRP客户端穿透工具								
CONFIG_PACKAGE_luci-app-frps=y             # FRP服务端穿透工具								
CONFIG_PACKAGE_luci-app-istorex=y          # Istorex网络工具集								
CONFIG_PACKAGE_momo=y                      # Momo网络加速工具								
CONFIG_PACKAGE_luci-app-momo=y             # Momo LuCI管理界面								
CONFIG_PACKAGE_luci-i18n-momo-zh_cn=y      # Momo中文语言包								
CONFIG_PACKAGE_luci-app-netdata=y          # Netdata系统监控工具								
CONFIG_PACKAGE_nikki=y                     # Nikki网络工具集								
CONFIG_PACKAGE_luci-app-nikki=y            # Nikki LuCI管理界面								
CONFIG_PACKAGE_luci-i18n-nikki-zh_cn=y     # Nikki中文语言包								
CONFIG_PACKAGE_luci-app-oaf=y              # OAF应用过滤工具								
CONFIG_PACKAGE_luci-app-openlist2=y        # OpenList2列表管理工具								
CONFIG_PACKAGE_luci-app-passwall=y         # PassWall代理客户端								
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy=n # 不包含Haproxy负载均衡组件								
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client=n # 不包含Shadowsocks Libev客户端								
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Server=n # 不包含Shadowsocks Libev服务端								
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client=n # 不包含Shadowsocks Rust客户端								
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client=n # 不包含ShadowsocksR Libev客户端								
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs=n # 不包含Simple Obfs混淆插件								
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_SingBox=n # 不包含SingBox代理内核								
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=n # 不包含Trojan Plus协议支持								
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin=n # 不包含V2Ray插件支持								
CONFIG_PACKAGE_luci-app-quickfile=y        # QuickFile文件管理工具								
CONFIG_PACKAGE_luci-app-quickstart=y       # QuickStart快速启动工具								
CONFIG_PACKAGE_luci-app-vlmcsd=y           # VLMCSD KMS激活服务								
								
								
								
